{% extends "core/base.html" %}



{% block content %}
<div class="profile-menu">
    <!-- Navigation Bar -->
    <nav class="profile-nav">
        <ul>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
            <li><a href="#payment-section">Payment</a></li>
        </ul>
    </nav>
<!-- Profile Section -->
    <div id="profile-section">
        <h2>Profile</h2>
        <p>Email: {{ user.email }}</p>
        <p>First Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Street: {{ user.adress_street }} {{user.adress_city}} L-{{user.adress_zipcode}}</p>
        <!-- templates/email_test.html -->

    <button onclick="location.href='{% url 'send_email' %}'">Send Test Email</button>
    </div>
</div>
{% endblock %}
