
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} AutoRight - Data Rights Automation Platform {% endblock %} </title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
    {% block extra_css %} {% endblock %}

    
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'homepage' %}">AutoRight{% if request.user.is_authenticated %}, {{ request.user.first_name }}{% endif %}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {% if not request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                        {% endif %}

                        <!-- Company Management -->
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_company_request' %}"> Automate </a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'summary_by_category' %}">Requests</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'companies_by_category' %}">View Companies by Category</a>
                        </li>
                        {% endif %}
        
                        <!-- User Profile & Authentication -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if request.user.is_authenticated %} {{ request.user.first_name }}{% endif %} User
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if not request.user.is_authenticated %}
                                    <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    

    
    <main class="content-wrapper">
        {% block content %}
        {% endblock %}
    </main>
    

    <footer class="bg-dark text-white py-4">

        <div class="container">
            <div class="row">
                {% if not request.user.is_authenticated %}
                <!-- About section -->
                <div class="col-md-4">
                    <h5>About AutoRight</h5>
                    <p>
                        Founded in 2023<br> AutoRight is committed to simplifying data rights management in Luxembourg for Private Users.
                    </p>
                </div>
                
                
                <!-- Useful links section -->
                <div class="col-md-4">
                    <h5>Useful Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Home</a></li>
                        <li><a href="#" class="text-white">Features</a></li>
                        <li><a href="#" class="text-white">Pricing</a></li>
                        <li><a href="#" class="text-white">Contact</a></li>
                    </ul>
                </div>
                
                <!-- Contact section -->
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p>Email: info@power-up.lu</p>
                    <p>Phone: +352 621 163 882</p>
                </div>
            </div>
            {% endif %}
            
            <!-- Copyright section -->
            {% if request.user.is_authenticated %}
            <!-- Copyright section -->
            <div class="row mt-4">
                <div class="col text-center">
                    <p>&copy; 2023 Power-Up. All rights reserved.</p>
                </div>
            </div>
        {% endif %}
        
        </div>
    </footer>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/script.js' %}"></script>

{% block extra_js %} {% endblock %}
</body>
</html>