<!-- authorization_form.html -->

{% for scope in scopes %}
<div class="authorization-scope">
    <h4>AUTHORIZATION FORM FOR DATA ERASURE</h4>
    <p>Date: {{ user_details.date_joined|date:'d-m.Y' }}</p>

    <p>
        I, {{ user_details.first_name }} {{ user_details.last_name }},
        residing at 
        {{ user_details.adress_street }},
        {{ user_details.adress_zipcode }}, 
        {{ user_details.adress_city }}, LU, 
        email address 
        {{ user_details.email }},
        contact number {{ user_details.phone_number }}
        ...
    </p>
    <div class="collapse" id="collapsibleContent{{ scope.id }}">
        <p>
            hereby grant Power-Up, with registered address at 10, rue des bons malades, L-6462 Echternach, 
            Luxembourg, Company number: [Company's Number] (the ‘Agent’), the authority to act on my behalf 
            in requesting the erasure of my personal data held by third parties, in accordance with applicable 
            privacy legislation, including the General Data Protection Regulation (‘GDPR’).
        </p>
        <p>I agree and acknowledge that:</p>
        <ul>
            <li>This authorization is limited solely to the erasure of my personal data and does not extend to any other matters.</li>
            <li>The Agent may withdraw from this representation at any time, at its sole discretion.</li>
            <li>This authorization will automatically terminate with respect to any specific natural or legal person once my request for data erasure under the Privacy Laws has been fulfilled by that specific party.</li>
            <li>This authorization is governed by and construed in accordance with the laws of the Grand-Duchy of Luxembourg.</li>
        </ul>
    </div>
    <a class="btn btn-link" data-bs-toggle="collapse" href="#collapsibleContent{{ scope.id }}" role="button" aria-expanded="false" aria-controls="collapsibleContent{{ scope.id }}">
        Read More
    </a>
</div>

<div class="signature-field" data-id="{{ scope.id }}">
    <!-- Placeholder for the signature -->
    <div class="signature-placeholder" data-id="{{ scope.id }}">
        Sign here...
    </div>

    <!-- The actual signature -->
    <div class="signature handwritten" data-id="{{ scope.id }}" style="display: none;">
        {{ user_details.first_name }} {{ user_details.last_name }}
    </div>
</div>

<div class="form-check consent-section">
    <input type="checkbox" class="form-check-input scope-checkbox" id="consent{{ scope.id }}" data-id="{{ scope.id }}" name="consent{{ scope.id }}">
    <label class="form-check-label" for="consent{{ scope.id }}">
        I, {{ user_details.first_name }} {{ user_details.last_name }}, consent to this Authorization Form for {{ scope.name }}.
    </label>
</div>

</div>
{% endfor %}
